@font-face{ 
  font-family: 'LeMumure';
  src: url('LeMurmure-Regular.eot');
  src: url('LeMurmure-Regular.eot') format('embedded-opentype'),
        url('LeMurmure-Regular.woff') format('woff'),
        url('LeMurmure-Regular.woff2') format('woff2')
}

@font-face{ 
  font-family: 'TT2020';
  src: url('TT2020StyleE-Regular.woff2') format('woff2')
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Work+Sans&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: black;
  color: white;
  font-family: 'Libre Baskerville', 'Georgia', serif;
  scroll-behavior: smooth;
}

::-moz-selection { background: blue; }
::selection { background: blue; }

.content {
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
}

.middle {
  margin-left: auto;
  margin-right: auto;
  width: 630px;
}

.entry {
  /* border: solid red 1px; */
  padding-bottom: 4em;
}

.glossary {
  display: flex;
  padding: 3rem;
  padding-top: 0;
  vertical-align: top;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.column {
  vertical-align: top;
  width: 100%;
  margin: 1em;
}

img {
  width: 90%;
  padding-bottom: 2rem;
  filter: blur(2px);
  transition: filter 1s;
}

img:hover {
  filter: blur(0px);
}
#header {
  text-align: center;
}

#header h1:hover{
  color: red;
  cursor: pointer;
}

.main-nav{
  /* font-family: 'TT2020', Courier, monospace; */
  font-family: 'Work Sans', 'Helvetica', sans-serif;
  width: 100%; 
  margin-top: 3em;
  font-size: 2rem;
}

.center {
  text-align: center;
}

.spacer {
  height: 200px;
}

h1 {
  font-family: 'LeMumure', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 7em;
  margin: 0em;
  padding-top: 2em;
}

h1 > a {
  text-decoration: none;
}

h2 {
  font-family: 'LeMumure', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 4em;
  margin-top: 0;
  /* text-align: center; */
}

p {
  margin-top: 1em;
  font-size: 1.2em;
  /* font-size: 20px; */
  line-height: 1.5em;
  hyphens: manual;
}

.firstcharacter {
  font-family: 'Work Sans', 'Helvetica', sans-serif;
  float: left;
  font-size: 60px;
  line-height: 40px;
  padding-top: 10px;
  padding-bottom: 2px;
  padding-right: 2px;
  /* padding-left: 3px; */
}

a, a:visited {
  color: red;
  text-decoration: none;
  /* text-decoration: underline; */
}

a:hover {
  color: white;
  background: blue;
}

.notes {
  /* font-family: 'TT2020', Courier, monospace; */
  font-family: 'Work Sans', 'Helvetica', sans-serif;
  text-transform: uppercase; 
  font-size: 16px;
  letter-spacing: 2px;
  /* margin: 0; */
}
.subhead {
  /* font-family: 'TT2020', Courier, monospace; */
  font-family: 'Work Sans', 'Helvetica', sans-serif;
  font-size: 25px;
  letter-spacing: .05em;
  margin-top: 0;
  margin-bottom: .03em;
  text-transform: uppercase;
}
#nav {
  z-index: 100;
  width: 1000px;
  position: fixed;
  top: 100%;
  transform: rotate(-90deg);
  transform-origin: top left;
  display: flex;
  color: black;
  background: red;
  font-size: 1em;
  /* font-family: "TT2020", monospace !important; */
  font-family: 'Work Sans', 'Helvetica', sans-serif;
  text-transform: uppercase;
  align-items: center;
}

/* #menuItems { 
  position: absolute;
  float: right;
  right: 0px;
  padding-right: 1em;
} */

#nav a{
  text-decoration: none;
  padding: 1em;
  color: black;
  filter: blur(1.2px);
  background: red;
  transition: background 1s, color 1s, filter 1.2s;
}
#nav a:hover {
  filter: blur(0px);
  background: black;
  color: red;
}

#nav h2 {
  position: absolute;
  float: right;
  right: 0px;
  font-size: 3em;
  padding-right: 1em;
  color: black;
  margin: 0;
  padding-top: .2em;
}

details {
  /* font: 25px 'TT2020', Courier, monospace; */
  font: 20px 'Work Sans', 'Helvetica', sans-serif;
  text-transform: uppercase;
  letter-spacing: .02em;
}

details > summary {
  padding: 12px 6px;
  cursor: pointer;
}

details > p {
  text-transform: none;
  font: 17px 'Libre Baskerville', 'Georgia', serif;
  line-height: 1.5em;
  border-radius: 0 0 10px 10px;
  padding: .5em;
  margin: .5em;
}

details[open] > summary {
  background-color: red;
  color: black;
}

#bgimg {
  top: -90px;
  position: absolute;
  width: 100%;
  filter: blur(0);
  /* z-index: -100; */
}
/* .test {
  border-style: solid;
  border-width: 0.5px;
  border-color: red;
} */
/* 
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 39%;
  }
  50% {
    background-position: 100% 62%;
  }
  100% {
    background-position: 0% 39%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 39%;
  }
  50% {
    background-position: 100% 62%;
  }
  100% {
    background-position: 0% 39%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 39%;
  }
  50% {
    background-position: 100% 62%;
  }
  100% {
    background-position: 0% 39%;
  }
} */

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 730px) {
  .card {
    width: 80%;
    position: static;
    display: flex;
    align-items: center;
  }

  .middle {
    width: 90%;
  }

  p {
    font-size: 1.3em;
    line-height: 1.3em;
  }

  #nav {
    top: 0;
    /* right: 0; */
    /* width: 100%; */
    position: fixed;
    width: 100%;
    transform: none;
    transform-origin: none;
    /* top: 0;
    right: 0;
    color: #aadcf1;
    text-align: left;
    padding: 3em;
    position: fixed;
    font-size: .8em;
    line-height: 2em; */
  }

  #nav > .notes {
    display: none;
  }

  .glossary {
    display: block;
    padding: 0;
  }

  .column {
   width: 90%;
  }

}