@font-face{ 
  font-family: 'LeMumure';
  src: url('LeMurmure-Regular.eot');
  src: url('LeMurmure-Regular.eot') format('embedded-opentype'),
        url('LeMurmure-Regular.woff') format('woff'),
        url('LeMurmure-Regular.woff2') format('woff2')
}

@font-face{ 
  font-family: 'TT2020';
  src: url('TT2020StyleE-Regular.woff2') format('woff2')
}

html,
body {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: black;
  color: white;
  font-family: 'Fanwood Text', 'Times New Roman', serif;
  scroll-behavior: smooth;
}

.content {
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
}

.middle {
  margin-left: auto;
  margin-right: auto;
  width: 630px;
}

.entry {
  padding-bottom: 4em;
}

.glossary {
  width: 100%;
  display: flex;
  padding: 3rem;
  vertical-align: top;
}

.column {
  vertical-align: top;
  width: 30%;
  margin: 1em;
}

.card {
  z-index: -1;
  top: 10em;
  left: 0;
  position: fixed;
  width: 27%;
  padding: 3rem;
}
img {
  width: 90%;
  padding-bottom: 2rem;
}
.card img {
  width: 100%;
  filter: blur(1.5px);
}
/* 
img:hover {
  filter: blur(0);
} */

#header {
  text-align: center;
  /* width: 100%; */
  /* height: 100vh; */
}

#header h1:hover{
  color: red;
  cursor: pointer;
}

.main-nav{
  font-family: 'TT2020', Courier, monospace;
  width: 100%; 
  margin-top: 3em;
  font-size: 2rem;
}

.spacer {
  height: 200px;
}

h1 {
  font-family: 'LeMumure', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.03em;
  font-size: 5em;
  margin: 0em;
  padding-top: 2em;
  /* line-height: 0.25em; */
}

h1 > a {
  text-decoration: none;
}

h2 {
  font-family: 'LeMumure', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 0.05em;
  text-align: center;
}

p {
  margin-top: 0;
  font-size: 20px;
  line-height: 1.5em;
}

.notes {
  font-family: 'TT2020', Courier, monospace;
  text-transform: uppercase; 
  font-size: 16px;
  letter-spacing: 2px;
  /* margin: 0; */
}

a {
  color: white;
  text-decoration: underline;
}

a:visited {
  color: white;
}

a:hover {
  color: red;
}


.subhead {
  font-family: 'TT2020', Courier, monospace;
  font-size: 25px;
  /* text-align: center; */
  margin-top: 0;
  margin-bottom: .5em;
}

.wrapper {
  display: flex;
  flex-direction: row;
}
#nav {
  z-index: 100;
  width: 948px;
  position: fixed;
  top: 100%;
  transform: rotate(-90deg);
  transform-origin: top left;
  display: flex;
  color: red;
  background: red;
  font-size: 1em;
  font-family: "TT2020", monospace !important;
  align-items: center;
}

#menuItems {
  position: absolute;
  float: right;
  right: 0px;
  padding-right: 1em;
}

#nav a{
  /* margin: 5em; */
  padding: 1em;
  /* border: solid 5px red; */
  filter: blur(1.2px);
}
#nav a:hover {
  filter: blur(0px);
  background: red;
  color: black;
}

#nav h2 {
  color: black;
  margin: 0;
  padding-top: .2em;
  padding-left: 1em;
}

details {
  font: 25px 'TT2020', Courier, monospace;
}

details > summary {
  padding: 12px 6px;
  cursor: pointer;
}

details > p {
  font: 20px 'Fanwood Text', 'Times New Roman', serif;
  border-radius: 0 0 10px 10px;
  /* background-color: rgb(34, 34, 34); */
  padding: .5em;
  margin: .5em;
}

details[open] > summary {
  background-color: red;
  color: black;
}

/* .test {
  border-style: solid;
  border-width: 0.5px;
  border-color: red;
} */
/* 
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 39%;
  }
  50% {
    background-position: 100% 62%;
  }
  100% {
    background-position: 0% 39%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 39%;
  }
  50% {
    background-position: 100% 62%;
  }
  100% {
    background-position: 0% 39%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 39%;
  }
  50% {
    background-position: 100% 62%;
  }
  100% {
    background-position: 0% 39%;
  }
} */

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 730px) {
  .card {
    width: 80%;
    position: static;
    display: flex;
    align-items: center;
  }

  .middle {
    width: 90%;
  }

  p {
    font-size: 1.3em;
    line-height: 1.3em;
  }
  .nav {
    display: none;
    overflow: hidden;
    top: 0;
    right: 0;
    color: #aadcf1;
    text-align: left;
    padding: 3em;
    position: fixed;
    font-size: .8em;
    line-height: 2em;
  }

  .glossary {
    display: block;
    padding: 0;
  }

  .column {
   width: 90%;
  }

}